.container .container-fluid{
    width: 1200px;
}
.navbar-brand img{
    max-height: 80px;
}
table img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
}
form img.preview{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5%;
}